<h2> Creando un post</h2>
<form action="/posts" method="post">
  <input type="hidden" name="_method" value="post">
   Descripcion:<input type="text" name="description">
   <button type="submit">Crear</button>
</form>
